# Database
DATABASE_URL="postgresql://user:password@localhost:5432/plugfacil_roi"

# NextAuth
NEXTAUTH_SECRET="seu-secret-aleatorio-aqui"
NEXTAUTH_URL="http://localhost:3000"

# Admin padrão
SEED_ADMIN_EMAIL="admin@plugfacil.com.br"
SEED_ADMIN_PASSWORD="PlugFacil@2024"

# Node environment
NODE_ENV="development"
